
<div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="contain-movies">
            
            <h1>Página indisponivel</h1>
            <p>Não encontrei nenhum <strong>ID</strong> para fazer o filtro</p>
            <a [routerLink]="['/']">voltar</a>
        
          </div>
      </div>
    </div>
  </div>
  
  
  <!-- 
  <div class="col-sm-12">
  <div class="col-sm-4" *ngFor="let m of movies">
    <div class="col-sm-4">
        <div class="" *ngFor="let i of imagens">
            <img src="{{i.url}}" alt="" class="">
        </div>
    </div>
    <div class="col-sm-6">
        <h1>{{m.title}}</h1>
              <p class="sub">Director</p>
              <p>{{m.director}}</p>
              <p class="sub">Producer</p>
              <p>{{m.producer}}</p>
    </div>
  </div>
  </div>
  -->