.menu-left {
    display: inline-block;
    float: left;
    width: 307px;
}
.body-content {
    display: inline-block;
    width: 76%;
    padding-top: 17px;
}


@media (max-width: 1278px) { 
    .body-content {
        display: inline-block;
        width: 66% !important;
        padding-top: 17px;
    }
 }
 @media (max-width: 768px) { 
    .body-content{
        display: inline-block;
        width: 100% !important;
        padding-top: 17px;
    }
 }